StudyCasterClient/build
StudyCasterClient/dist
StudyCasterClient/nbproject/private/
StudyCasterClient/nbproject/build-impl.xml
StudyCasterClient/nbproject/genfiles.properties

StudyCasterServer/build
StudyCasterServer/dist
StudyCasterServer/nbproject/private/
StudyCasterServer/nbproject/build-impl.xml
StudyCasterServer/nbproject/genfiles.properties

StudyCasterNative/.dep.inc
StudyCasterNative/build
StudyCasterNative/dist
StudyCasterNative/nbproject/private
StudyCasterNative/nbproject/Makefile-Debug.mk
StudyCasterNative/nbproject/Makefile-Release.mk
StudyCasterNative/nbproject/Package-Debug.bash
StudyCasterNative/nbproject/Package-Release.bash
StudyCasterNative/nbproject/Makefile-impl.mk
StudyCasterNative/nbproject/Makefile-variables.mk

