body {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
  max-width: 800px;
}

#connectionURLfield {
  width: 100%;
}

#newPasswordField {
  width: 16em;
}

label[for='newPasswordField'] {
  margin-left: 50px;
}

#highlightField {
  width: 5em;
}

input[type='button'] {
  width: 8em;
  height: 24px;
}

p, form, img, pre {
  margin-top: 0px;
  margin-bottom: 12px;
}

h1, h2, h3 {
  margin-top: 12px;
  margin-bottom: 0px;
}

.quote {
  margin-left: 25px;
}

#mainIcon {
  vertical-align: top;
  margin-bottom: 0px;
}

#progressWheel {
  vertical-align: middle;
  margin-bottom: 0px;
  margin-left: 20px;
  padding-bottom: 4px;
  display: none;
}

.reportKey {
  width: 10em;
  font-family: monospace;
}

.recentLaunch {
  color: red;
}

ol, ul {
  padding-left: 20px;
}

td, th {
  text-align: left;
  vertical-align: top;
  border-style: solid;
  border-color: rgb(150,150,150);
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.nowrap {
  white-space: nowrap;
}

.number {
  text-align: right;
}

td.number {
  white-space: nowrap;
}

.hidden {
  visibility: collapse;
}

.versionString {
  font-size: x-small;
}

thead {
  background: rgb(240,240,240);
  padding-bottom: 10px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.ticket {
  font-family: monospace;
}

tbody tr:hover {
  background: rgb(150,150,150);
}
