<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- TODO: Use a proper connection pool. -->
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/sc_devel;create=true;user=studycaster</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hbm2ddl.auto">create</property>
    <mapping resource="hibernate.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
