<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <!-- NOTE: This file is used for local deployments during development only.
             See the comment in build.xml. -->
  <session-factory>
    <!-- See http://db.apache.org/derby/integrate/plugin_help/derby_app.html . -->
    <!-- TODO: Figure out a way to use an absolute URL here. -->
    <!-- Note: Setting create=true will trigger a warning (but no change) if the DB already exist. -->
    <property name="hibernate.connection.url">jdbc:derby:sc_derby_develdb</property>
  </session-factory>
</hibernate-configuration>
