lib/NativeLib/libSCNative.dll
lib/NativeLib/sc-native.jar
SCNative/NativeLibrary.h
ServerSide/src/app/
SCNative/build/
SCNative/dist/
SCNative/nbproject/private/
SCNative/.dep.inc
ServerSide/nbproject/private/
build/
dist/
nbproject/private/

